[submodule "Server/dependency/Angelscript"]
	path = Server/dependency/Angelscript
	url = https://github.com/T4lus/Angelscript.git
[submodule "Server/dependency/restbed"]
	path = Server/dependency/restbed
	url = https://github.com/Corvusoft/restbed.git
